.EditorContainer{
    width: 90vmax;
    height: 80vmin;
    position: relative;
    background-color: rgb(243, 255, 221);
}

.ContainerForPagesAndEditor{
    background-color: rgb(202, 203, 203);
    width: 90vmax;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    overflow-y: scroll;
}

/*/Richtexteditoreditor лежит в jss*/

.RichEditoreditor .publicDraftEditorPlaceholderroot,
.RichEditoreditor .publicDraftEditorcontent {
    margin: 0 -15px -15px;
    padding: 15px;
}

.RichEditoreditor .publicDraftEditorcontent {
    min-height: 100px;
}

.RichEditorhidePlaceholder .publicDraftEditorPlaceholderroot {
    display: none;
}

.RichEditoreditor .RichEditorblockquote {
    border-left: 5px solid #eee;
    color: #666;
    font-family: 'Hoefler Text', 'Georgia', serif;
    font-style: italic;
    margin: 16px 0;
    padding: 10px 20px;
}

.RichEditoreditor .publicDraftStyleDefaultpre {
    background-color: rgba(0, 0, 0, 0.05);
    font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
    font-size: 16px;
    padding: 20px;
}

.RichEditorcontrols {
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    margin-bottom: 5px;
    user-select: none;
}

.RichEditorstyleButton {
    color: #999;
    cursor: pointer;
    margin-right: 16px;
    padding: 2px 0;
    display: inline-block;
}

.RichEditoractiveButton {
    color: #5890ff;
}