.EditorContainer{
    width: 100%;
    height: 60vmin;
    position: relative;
    background-color: rgba(15, 165, 115, 0.27);

}

.RichEditoreditor {
    border-top: 1px solid #ddd;
    cursor: text;
    font-size: 16px;
    margin-top: 10px;
}

.RichEditoreditor .publicDraftEditorPlaceholderroot,
.RichEditoreditor .publicDraftEditorcontent {
    margin: 0 -15px -15px;
    padding: 15px;
}

.RichEditoreditor .publicDraftEditorcontent {
    min-height: 100px;
}

.RichEditorhidePlaceholder .publicDraftEditorPlaceholderroot {
    display: none;
}

.RichEditoreditor .RichEditorblockquote {
    border-left: 5px solid #eee;
    color: #666;
    font-family: 'Hoefler Text', 'Georgia', serif;
    font-style: italic;
    margin: 16px 0;
    padding: 10px 20px;
}

.RichEditoreditor .publicDraftStyleDefaultpre {
    background-color: rgba(0, 0, 0, 0.05);
    font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
    font-size: 16px;
    padding: 20px;
}

.RichEditorcontrols {
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    margin-bottom: 5px;
    user-select: none;
}

.RichEditorstyleButton {
    color: #999;
    cursor: pointer;
    margin-right: 16px;
    padding: 2px 0;
    display: inline-block;
}

.RichEditoractiveButton {
    color: #5890ff;
}