.dark-theme{

}
.light-theme{

}
.product-theme{

}
.product-color{
    color: #ff924c!important;
}
.MuiPopover-root{
    position: absolute!important;
    width: 100%;
    height: 100%;
    z-index: 100!important;
}
.VisibleInnerImgOnHover>img{
    visibility: hidden;
}
.VisibleInnerImgOnHover:hover>img{
    visibility: visible;
}
