
#videopromo2 img{
    width: 100% !important;
}
#videopromo2{
    position: relative!important;
    border-top-width: 0!important;
    border-bottom-width: 0!important;
    border-right-width: 0!important;
    border-radius: 0!important;
    background-color: floralwhite!important;
}
#promo-img-mainblock1 {
    height: 60vmin;
}
#maincard2{
    padding: 0!important;
    height: 100% !important;
    background-color: floralwhite!important;
}
#maincard2container{
    height: 100%!important;
    position: relative!important;
    background-color: rgba(255,250,240,0.7) !important;
}
#yui-34{
    background-color: floralwhite!important;
}
